/* Général ------------------------------------------------------------------------------------- */
body{
	width:90%;
	margin:auto;
	border:1px solid #225E79;
}
body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    border-radius:5px;
    margin-top:30px;
}

legend {
    font-weight: bold;
    color: #0568CD;
    font-size:1.8em;
}
p{
	font-size:1.8em;
}
#equipe{
	margin-top:5px;
	width:200px;
	font-size:1.3em;
}
.legende{
	width:60%;
	margin-left:20%;
	margin-top:20px;
}
.legende .requis{
	color: #c00;
}

#titre_remerciment{
	width:100%;
	margin:auto;
	background-color:#38E156;
}
#titre_remerciment h2{
	background-color:#38E156;
	text-align:center;
	color: #0772A1;
	font-size:3.5em;
}
#remerciements .treeptik{
	padding:auto;
	width:100%;

}
#remerciements .afpa{
	padding:auto;
	width:32.5%;
	
}
#remerciements .linkedin{
	padding:auto;
	width:25%;

}
#remerciements .faftt{
	padding:auto;
	width:50%;

}
ul{
	width:100%;
}
figure{
	margin-top:30px;
	border: solid black 4px;
	border-radius:10px;
	padding:10px;
	background-color:#DEE5E4;
	margin-bottom:30px;
}
figcaption{
	text-align:justify;
	margin-top:35px;
	font-size:1.8em;
	text-decoration:none;
	
}
figcaption.caption_afpa{
	margin-top:20px;
}
figcaption.caption_linkedin{
	margin-top:25px;
}
figcaption.caption_faftt{
	margin-top:0px;
}
span.requis{
	color: #c00;
}
/* Forms --------------------------------------------------------------------------------------- */

.formulaire{
	width:60%;
	margin-left:20%;
	margin-bottom:40px;
}
form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
    font-size:1.3em;
    margin-bottom:10px;
    color:#0568CD;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
    margin-bottom:10px;
    width:200px;
}

form input.sansLabel {
    width:200px;
    height:30px;
    margin-top:10px;
    font-size:2em;
    border-radius:3px;
    color:#0568CD;
}

form .requis {
    color: #c00;
}
form .erreur {

    color: #900;

}
form .succes {
    color: #090;
}
form .info {
    font-style: italic;
    color: #E8A22B;
}
/*Titres  -----------------------------------------------------------------------------------------*/

#principal_tittle{
	background-color:#38E156;
	text-align:center;
	color: black;
	font-size:3.5em;
	
}

.connexion{
	text-align:center;
	font-size:3.5em;
	color:red;
	background-color:#666C6B;

}
.inscription{
	text-align:center;
	font-size:3.5em;
	color:red;
	background-color:#666C6B;
	
}
.profil{
	text-align:center;
	font-size:3.5em;
	color:red;
	background-color:#666C6B;
}

#liste_match{
	background-color:#666C6B;
	text-align:center;
	color: red;
	font-size:3.5em;
}
/*navbar------------------------------------------------------------*/
 
.navbar{
	background-color:#38E156;
	display:block;
	justify-content:center;
	font-size:1.8em;
	width:100%;
	text-align:center;
}

.navbar a{
	font-size:2em;
	color:#0772A1 !important;
}
.navbar a:hover{
	background-color:#2FBE2F;
}
#introduction {
	border:1px solid #225E79;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding-top:40px;
	padding-bottom:40px;
	width:60%;
	margin:auto;
	text-align:justify;
}
#introduction2 {
	border:1px solid #225E79;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding-top:40px;
	padding-bottom:40px;
	width:60%;
	margin:auto;
	text-align:justify;
}
.compartiment1{
	
	background-color:#63AFD0;
	border:10px white solid;
	border-radius:0 75px 0 75px;
	padding:20px;
	margin-bottom:50px;
	width:40%;
}
.compartiment2{
	
	border:10px white solid;
	border-radius:150px;
	margin-top:75px;
	margin-bottom:50px;
	height:200px;
	background-color:#38E156;
	width:40%;
}
.compartiment3{
	
	border:10px white solid;
	border-radius:150px;
	height:200px;
	background-color:#225E79;
	width:40%;
}
.compartiment4{
	
	background-color:#007F16;
	border:10px white solid;
	border-radius:0 75px 0 75px;
	padding:20px;
	margin-top:-100px;
	float:right;
	height:400px;
	width:40%;
}
#introduction p{
	font-size:1.8em;
	margin:auto;
}
#image{
	width:100%;
	
	margin:auto;
	height:400px;
}
.img-responsive {
	margin:auto;
	width:100%;
	height:400px;
	border:solid black 2px;
	
}
.user{
	margin-top:20px;
	margin-left:3%;
}
.user i{
	font-size:6em;
	border: 2px solid black;
	padding:10px;
}
.user a{
	font-size:2.5em;
	margin-left:1%;
}
#visiteur{
	margin-top:40px;
}
.deconnexion{
	margin-left:3%;
}
/* Tableaux -------------------------------------------------------------------------------------*/

table{
    border-collapse: collapse;
    margin:auto;
    width:80%;
    height:300px;border: 1px #0568CD solid;
    font-size:1.5em;
}
#table_infos .table{
	margin-top:30px;
	width:70%;
}
tr.pair{
    background-color: #efefef;
}

tr.impair{
    background-color: #225E79;
    color:white; 
}

th{
    color: #0568CD;
    border: 1px solid #0568CD;
    padding: 5px;
}

th.action{
    border: 1px solid #900;
    color: #900;
}

td{
    border: 1px solid #ddd;
    padding: 5px;
}

td.action{
    text-align: center;
}
#matchs_list{
	margin-bottom:40px;
	
}
#matchs_list .table{
	width:70%;
	
}
#recap_infos_joueur{
	margin-top:30px;
	margin-bottom:40px;
}
#recap_infos_joueur .table{
	width:70%;
}
#player_picture{
	
	margin-bottom:40px;
}
#match_table{
	margin-bottom:40px;
	
}
#match_table .table{
	margin-top:40px;
	width:70%;
}
#match_table button{
	font-size:1.5em;	
}
#match_table .table #match{
	background-color:#38E156;
}
#betValid {
	margin-top:20px;
	margin-bottom:40px;
}
.recap{
	display:flex;
	justify-content:space-around;
}
/* Logo equipe préférée -------------------------------------------------------------------------------------*/

#equipe_pref{
	margin-bottom:40px;
}
#equipe_pref figure{
	margin:auto;
	width:50%;
}
#equipe_dom figure{
	margin:auto;
	width:50%;
}
#equipe_ext figure{
	margin:auto;
	width:50%;
}
#equipe_pref figcaption{
	color:#0568CD;
	font-size:2em;
	text-align:center;
	text-decoration:underline;
	margin-bottom:15px;
}
#player_list{
	font-size:1.8em;
	margin-top:30px;
	margin-bottom:30px;
}
#player_list label{
	font-size:0.8em;
}
#player_picture figure{
	margin:auto;
	width:50%;
}
#player_pcenter-blockicture{
	margin-bottom:40px;
}
#mes_cards{
	background-color:#545A59;
	display:flex;
	justify-content:space-around;
}
h5{
	text-align:center;
}
.card-body a{
	display:block;
	margin:auto;
}
.carousel-item{
	padding-top:40px;
}
.carousel-item .card{
	width:50%;
	display:block;
	margin:auto;
}
#carouselExampleIndicators{
	background-color:#007F16;
	height:500px;
}

.carousel-item .card .treeptik{
	display:block;
	margin:auto;
	width:70%;
}
.carousel-item .card .afpa{
	display:block;
	margin:auto;
	width:22%;
}
.carousel-item .card .linkedin{
	display:block;
	margin:auto;
	width:22%;
}
.carousel-item .card .faftt{
	padding-bottom:-55px;
	display:block;
	margin:auto;
	width:22%;
}
.carousel-item .card a{
	width:50% !important;
}
.interligne{
	height:50px;
	background-color:#225E79;
}
